.bigBox{
    display: flex;
    flex-direction: row;
}

.leftBox{
    width: 50%;
    margin-top: 5%;
    text-align: center;
    align-items: 'center';

}

.rightBox{
    width: 50%;
    margin-top: 5%;
    text-align: center;
    align-items: 'center';
}