.box{
    width: 250px;
    height: 350px;
    border-style: solid;
    border-radius: 40px 1px 20px 1px;
    box-shadow: 17px -11px 12px -10px rgba(0,0,0,0.62);
    border-color: red;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
}
.header{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}
.title{
    display: flex;
    justify-content: center;
}
.img{
    width: 100px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    
}

.imgItem{
    width: 100px;
    height: 200px;
    margin-left: 40%;
    object-fit: cover;
    object-position: center;
}

.others{
    margin-top: 10px;
}
