.list{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

:root {
    --gridList-column: 250px;
    --gridList-rows: 250px;
    --gridList-gap: 6px;
  }
  
  .ListOfProducts {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(var(--gridList-column), 2fr));
    grid-auto-rows: var(--gridList-rows);
    grid-auto-flow: row dense;
    grid-gap: var(--gridList-gap, 6px);
    gap: var(--gridList-gap, 6px);
    align-items: center;
  }
  
  @media screen and (min-width: 37.5rem) {
    :root {
      --gridList-column: 180px;
      --gridList-rows: 350px;
    }
  }
  
  @media screen and (min-width: 60rem) {
    :root {
      --gridList-column: 300px;
      --gridList-rows: 400px;
    }
  }